<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Entry Form</title>
</head>
<body>
<form th:action="@{/Confirmation}" th:object="${customer}" method="POST">
    Enter First Name : <input th:type="text" th:field="${customer.firstName}"/>
    <br><br>
    Enter Last Name : <input th:type="text" th:field="${customer.lastName}"/>
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="${customer.lastName}"></span>
    <br><br>
    Enter Pass Count : <input th:type="number" th:field="${customer.freePasses}"/>
    <span th:if="${#fields.hasErrors('freePasses')}"
          th:errors="${customer.freePasses}"></span>
    <br><br>
    Enter Postal Code : <input th:type="text" th:field="${customer.postalCode}"/>
    <span th:if="${#fields.hasErrors('postalCode')}"
          th:errors="${customer.postalCode}"></span>
    <br><br>
    <input th:type="submit" th:value="Submit"/>
</form>

</body>
</html>